<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include('../blocks/stylesheets'); %>
</head>

<body>
  <%- include('../blocks/navbar'); %>

  <div class="content"
    style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin: 30px 60px; height: 100%;">
    <h1>Admin Suivi</h1>
    <form id="loginForm">
      <div class="form-group">
        <label for="identifier">Adresse Email</label>
        <input name="identifier" type="email" class="form-control" id="identifier" required>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input name="password" type="password" class="form-control" id="password" required>
      </div>
      <button id="loginSubmit" type="submit" class="btn btn-primary">Se connecter</button>
    </form>
  </div>

  <script>
    let $loginForm = document.querySelector('#loginForm');
    let $loginSubmit = document.querySelector('#loginSubmit');

    $loginSubmit.addEventListener('click', (event) => {
      event.preventDefault();
      let formData = new FormData($loginForm);
      let body = {};


      for (const [key, value] of formData.entries()) {
        body[key] = value;
      }

      axios.post('/auth/login', body)
        .then(response => {
          alert('Merci pour votre Connexion');
          window.location = "/dashboard/account";
        }).catch(error => {
          if (error.response) {
            console.dir(error.response);
            if (error.response.status === 400) {
              alert(error.response.data.message);
            } else if (error.response.status === 403) {
              alert('INTERDIT');
            } else if (error.response.status === 404) {
              alert('INTROUVABLE');
            }
          } else if (error.request) {
            console.dir(error.request);
          } else {
            console.dir(error);
          }
        }).finally(() => {

        });

    });
  </script>

  <%- include('../blocks/javascripts'); %>
</body>

</html>