<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include('../blocks/stylesheets'); %>
</head>

<body>
  <%- include('../blocks/navbar'); %>

  <div class="content"
    style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin: 30px 60px; height: 100%;">
    <h1>Admin Suivi</h1>
    <form id="loginForm">
      <div class="form-group">
        <label for="identifier">Adresse Email</label>
        <input name="identifier" type="email" class="form-control" id="identifier" required>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input name="password" type="password" class="form-control" id="password" required>
      </div>
      <button id="loginSubmit" type="submit" class="btn btn-primary">Se connecter</button>
    </form>
  </div>

  <%- include('../blocks/javascripts'); %>
  <script src="/javascripts/auth/login.js"></script>
</body>

</html>