<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/global/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/global/global.css' />
  <link rel='stylesheet' href='/stylesheets/welcome/welcome.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <script src="/javascripts/global/jquery.min.js"></script>
  <script src="/javascripts/global/bootstrap.min.js"></script>
  <script src="/javascripts/global/global.js"></script>
</body>

</html>