<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Agent-Web</a>
    <p style="color:green;">Numéro Vert: 3535</p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="display: flex; flex-direction: row; justify-content: flex-end;">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/account">Mon Compte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/agents">Agents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/reports">Rapports de Tests</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/dashboard/forms" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Fiches
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Fiches d'enregistrement des contacts</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Fiches individuelles de notifications de cas de coronavirus</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Fiches de contrôles</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/create-agent">Créer un Agent</a>
        </li>
    
        <li class="nav-item">
          <a class="nav-link" href="/auth/login">Connexion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/register">Inscription</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Se déconnecter</a>
        </li>
      </ul>
    </div>
  </nav>